
walmart_data-Copy1.txt
uber_travel_data.csv
two_way_anova_with_replication_example.csv
tow_wayAnova_eaxmple.csv
ToothGrowth.csv
Starbucks.csv
RollerCoster_waitTime.csv
plantgrowth.csv
percentiles.txt
ab_test_data.csv
.ipynb_checkpoints/Bias of an estimator  -checkpoint.ipynb
